{
	"extends": [
		"xo",
		"xo-typescript",
		"prettier"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/naming-convention": "warn",
		"@typescript-eslint/no-unsafe-return": "warn",
		"@typescript-eslint/no-unsafe-call": "warn",
		"@typescript-eslint/no-unsafe-assignment": "warn",
		"import/extensions": "off"
	}
}
