name: Run Spectral on Pull Requests

on:
  - pull_request

jobs:
  linter:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - uses: actions/checkout@v4

      # Run Spectral
      - uses: stoplightio/spectral-action@latest
        with:
          file_glob: "public/docs/*.json"
